@font-face {
  font-family: Nunito-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito-Regular.woff) format("woff"), url(../fonts/Nunito-Regular.eot) format("eot"), url(../fonts/Nunito-Regular.woff2) format("woff2"), url(../fonts/Nunito-Regular.ttf) format("truetype"), url(../fonts/Nunito-Regular.svg) format("svg"); }

@font-face {
  font-family: Nunito-Black;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito-Black.woff) format("woff"), url(../fonts/Nunito-Black.eot) format("eot"), url(../fonts/Nunito-Black.woff2) format("woff2"), url(../fonts/Nunito-Black.ttf) format("truetype"), url(../fonts/Nunito-Black.svg) format("svg"); }

@font-face {
  font-family: Nunito-Light;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito-Light.woff) format("woff"), url(../fonts/Nunito-Light.eot) format("eot"), url(../fonts/Nunito-Light.woff2) format("woff2"), url(../fonts/Nunito-Light.ttf) format("truetype"), url(../fonts/Nunito-Light.svg) format("svg"); }


html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Nunito-Regular;
  color: #726277;
  font-size: 13px;
}

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block;
}

figure {
  margin: 0;
  line-height: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  word-break: break-all;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input{
  overflow: visible;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

select {
  margin: 0;
  padding: 0;
  overflow: visible;
}

input:focus,button:focus,textarea:focus,select:focus,option:focus,a:focus{
  outline: none;
}
button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    height: auto;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  &::-webkit-search-cancel-button, &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus,figure:focus, img:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}

p{
  margin: 0;
}
a {
  text-decoration: none;
  color: initial;
}

h1, h2, h3, h4, h5, h6, ul, figure {
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: initial;
  cursor:default;
}

[hidden] {
  display: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  float: left;
}

.hdI,footer {
  background-color: #ececec;
  // box-shadow: 1px 1px 5px #0000004f;
  // border-bottom: 1px solid #00000014;
}

.top {
  display: table;
  width: 100%;
  position: relative;
  .inf {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d05a35;
    display: table;
    padding: 8px 10px 5px;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    svg, p {
      color: #fff!important;
      font-weight: 800;
      font-size: 14px;
      display: table-cell;
      vertical-align: middle;
      padding: 0 3px;
      cursor: default;
    }
  }
}

.top {
  h1, nav {
    display: table-cell;
    vertical-align: middle;
  }
  &> h1 {
    box-sizing: border-box;
    padding: 0 10px;
    img {
      max-width: 192px;
      width: 100%;
      margin: 0 auto;
      display: table;
    }
  }
}

.menu-top {
  padding: 0 5px;
  box-sizing: border-box;
  width: 100%;
  display: table;
  li {
    display: inline-block;
    margin: 0 5px;
  }
  h2 {
    transition: all 0.2s;
    font-size: 15px;
    font-family: Nunito-Light;
    padding: 5px 8px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #c3c3c3;
    }
  }
}

.menumob{
  display: none;
}

.btn{
  background-color:transparent;
  padding: 5px 8px;
  box-sizing: border-box;
  font-size: 13px;
  border: 1px solid #bdbdbd;
  color:#a5a5a5;
  font-weight:bold;
  cursor:pointer;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  &:hover{
    color: #fff;
    border: 1px solid #f16337;

    &::before{
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }

  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f16337;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:focus {
    outline:0;
  }
}
.full{
  &>div{
    position: relative;
    padding: 25px 0;
    margin: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    h3{
      position: absolute;
      padding: 15px;
      background-color: #fff;
      bottom: -33px;
    }
  }
}
.crl{
  display: block;
  width: 100%;
  margin: 10px 0 10px;
  box-sizing: border-box;
  h3{
    font-size:35px;
    color:#d05a35;
    box-sizing: border-box;
    font-family: Nunito-Black;
    padding:5px 0;
    text-align: center;
  }
}

.crl.pr {
  margin: 20px 0 0;
  .slick-dots{
    bottom: 10px;
    background-color: #d05a35;
    text-align: center;
    width: auto;
    left: -8px;
    li button::before{
      font-size: 12px;
      // color: #d05a35a6;
      color: #fff;
      opacity:0.4;
    }
    li.slick-active button::before{
      // color: #d05a35;
      color: #fff;
      opacity:1;
    }
  }
  .slick-dots::before{
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 9px solid #ad4b2d;
    position: absolute;
    top: -9px;
    content: " ";
  }
  .item{
    display: table;
    width:100%;
    img{
      max-width: 980px!important;
      max-height: 395px!important;
      width: 100%;
      height:100%;
    }
  }
}
.slick-slide:focus{
  outline:0;
}

.crl.vg{
  .carvg{
    box-sizing: border-box;
    padding: 15px 0;
    position: relative;

    .undefined{
      display: table;
      padding: 10px 0;

      p{
        font-size:16px;
        margin: 0 auto;
        display: table;
      }
    }
    .slick-slide{
      margin:0 10px;
    }
    .slick-track{
      padding: 15px 0;
    }
    .item{
      max-width:484px;
      min-height: 395px;
      width:100%;
      display: table;
      position: relative;
      box-shadow: 0 7px 20px rgba(0,0,0,0.15);
      .up,.down{
        display: table;
        width: 100%;
      }
      .up{
        min-height: 150px;
      }
      // .down{
      //   margin-top: 9%;
      // }
      figure{
        img{
          max-width:484px;
          max-height:230px;
          width: 100%;
          height: 100%;
        }
      }
      &>div{
        display: table;
        width:100%;
        padding: 1.05%;
        box-sizing: border-box;
        .inf{
          min-height:20px;
          display:table;
          width:100%;
          color:#fff;
          padding: 5px 0;
          li{
            display: table;
            float:left;
            border-radius:4px;
            padding:3px 6px;
            box-sizing:border-box;
            width: 80px;
            margin: 0 3px;
            max-width: 100%;
            i,svg{
              font-size:12px;
              display: table-cell;
              vertical-align: middle;
              padding-right: 4px;
              text-align: center;
            }
            h4{
              font-family: Nunito-Black;
              display: table-cell; 
              vertical-align: middle;
              font-size:11px;
            }
          }
          &>li:first-child{
            margin-left:0!important;
          }
          &>li:last-child{
            margin-right:0!important;
          }
          .pass{
            background-color:#018dc2;
          }
          .hotel{
            background-color:#8101c2;
          }
          .package{
            background-color:#c29001;
          }
          .transp{
            background-color:#c20101;
          }
          .cruzeiro{
            background-color:#005c7e;
          }
        }
        .name{
          padding: 5px 2px;
          border-bottom: 1px solid #cccccc;
          border-bottom-style: dashed;
          h5{
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            line-height: 25px;
          }
        }
        .desc{
          padding: 5px 0;
          text-align: center;
          p{
            font-size: 12px;
            line-height: 20px;
            box-sizing: border-box;
            margin: 5px 0;
          }
        }
        .local,.tempo,.inc{
          // border-bottom: 1px solid #e0e0e0;
          display: table;
          width: 100%;
          margin: 6px 0;
          li{
            display: table;
            float: left;
            margin: 0 0.65%;
            text-align:center;
            h5,h6,&::before,&::after,svg{
              display: table-cell;
              vertical-align: middle;
              font-size: 12px;
            }
            h5{
              padding-right:2px;
              font-weight: 600;
              font-size:14px;
            }
            h6{
              padding-left:2px;
              text-align: left;
              font-size: 15px;
            }
            // &::before{
            //   content:"-";
            //   padding:0 5px 0 3px;
            // }
            &::after{
              content:"|";
              padding:0 4px;
            }
          }
          &>li:last-child{
            &::after{
              content:" ";
              margin: 0;
            }
          }
        }
        .valor{
          display: table;
          width: 100%;
          min-height: 32px;
          text-align: right;
          &>div{
            display: inline-block;
            h6,h5{
              display: table-cell;
              vertical-align: middle;
              padding: 0 2px;
              box-sizing: border-box;
            }
            h6{
              font-size:25px;
            }
          }
        }
      }
      .event{
        position: absolute;
        top: -7px;
        right: -3px;
        background-color: #ea653c;
        text-align: center;
        width: auto;
        min-width:144px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
        font-size: 12px;

        &::before{
          width: 0;
          height: 0;
          content: " ";
          border-top: 0px solid transparent;
          border-bottom: 7px solid #ad4b2d;
          border-left: 14px solid transparent;
          position: absolute;
          left: -14px;
          top: 0;
        }
        svg,span{
          color:#fff;
          display: table-cell;
          vertical-align: middle;
        }
        span{
          padding: 0 10px;
          font-family: Nunito-Black;
        }
      }
      .ult{
        background-color: #ea3c3c;
        &::before{
          border-bottom: 7px solid #bf3232;
        }
      }
    }
    .slick-next, .slick-prev{
      top: 30%;
      line-height: 0!important;
      height:auto;
    }
    .slick-prev{
      left:-5%!important;
    }
    .slick-next{
      right:-5%!important;
    }
    .slick-prev:hover{
      &::before{
        color:#505050;
      }
    }
    .slick-next:hover{
      &::before{
        color:#505050;
      }
    }
    .slick-prev:before, .slick-next:before { 
      font-family: "slick";
      font-size: 60px;
      color: #a7a7a7!important;
      opacity: 0.75;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition:all 0.5s;
    }   
    
    .slick-prev:before {
      content: "‹";
    }

    [dir="rtl"] .slick-prev:before {
      content: "›";
    }
    
    [dir="rtl"] .slick-next {
      left: -10px;
      // top: 70px;
      right: auto;
    }

    .slick-next:before {
      content: "›";
    }

    [dir="rtl"] .slick-next:before {
      content: "‹";
    }
  }
}

.inc{
  svg,h6{
    color:green;
  }
  svg{
    font-size:18px!important;
  }
  h6{
    text-transform: uppercase;
    font-weight: bold;
    font-size:14px!important;
    padding: 0 3px;
    box-sizing: border-box;
  }
}
.fpag{
  background-color:#f3f3f3;
  li{
    display: table;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
    svg,p{
      display: table-cell;
      vertical-align: middle;
      font-size:13px;
    }
    svg{
      font-size:11px;
      margin: 5px 0;
    }
    p{
      font-family:Nunito-black;
      padding: 0 3px;
      // text-transform: uppercase;
    }
  }
  .imp{
    color:#e2bf00!important;
    margin: 5px auto;
    i{
      font-size:22px;
    }
  }
  .parc{
    color:#00b9ff!important;
    margin: 5px auto;
  }
  
}
.vg.prom{
  h3{
    text-align: left;
  }
}

.emp{
  width: 100%;
  background-image: url(../images/backemp.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 330px;
  .empresa{
    margin: 40px 0;
    display: table;
    width: 100%;
    h3{
      font-size: 35px;
      color: #fff;
      box-sizing: border-box;
      font-family: Nunito-Black;
      padding: 5px 0;
      text-align: center;
      cursor:default;
    }
    ul{
      padding: 15px 0;
      display: table;
      li{
        margin:15px 0;
        width:31%;
        max-width: 100%;
        padding: 25px 10px;
        box-sizing: border-box;
        display: table;
        background-color: #fff;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        transition: .3s all ease;
        margin: 0 1.25%;
        float: left;
        cursor:default;
            
        &>div{
          display: table-cell;
          vertical-align: middle;
          padding: 0 5px;
          box-sizing: border-box;
          svg{
            //border-radius: 50%;
            //background: #2ec4b6;
            font-size: 35px;
            padding: 5px 10px;
            color: #2ec4b6;
            text-align: center;
          }
          .fa-money-bill-alt{
            font-size: 34px;
            padding: 8px 9px;
          }
          .fa-star{
            padding: 5px 8px;
          }
          h4{
            font-size:14px;
            color:#000;
            font-weight: 900;
            margin: 5px 0;
          }
          p{
            font-size:14px;
            color:#aaa;
          }
        }
      }
      &>li:first-child{
        margin-left: 0;
      }
      &>li:last-child{
        margin-right: 0;
      }
    }
    form{
      width:100%;
      padding: 15px 0;
      display: inline-block;
      button{
        margin: 0 auto;
        background-color: #ffffff;
        display: block;
        color: #545454;
        background-color: #ffffff8c;
        padding: 15px 35px;
        font-size: 15px;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}

.parc{
  padding: 30px 0;
  h3{
    font-size: 35px;
    color: #d05a35;
    box-sizing: border-box;
    font-family: Nunito-Black;
    padding: 5px 0;
    text-align: center;
    cursor:default;
  }
  ul{
    display: table;
    margin: 0 auto;
    padding: 15px 0;
    li{
      display: table-cell;
      vertical-align: middle;
      padding: 0 5%;
      box-sizing: border-box;
      a{
        display: inline-block;
        img{
          max-width:80px;
          width:100%;
        }
      }
      a:hover{
        img{
          opacity: 0.3;
        }
      }
    }
  }
}
main{
  margin: 15px 0 30px;
}
footer{
  padding: 20px 0 0;
  .col-12{
    display:table;
    &>div{
      display: table-cell;
      vertical-align: middle;
      padding: 5px 0 10px;
      figure{
        display: table;
        padding: 5px 0;
        img{
          max-width: 145px;
          width: 100%;
        }   
      }
      address{
        display: table;
        font-size: 15px;
        box-sizing: border-box;
        text-align: center;
        p{
          line-height: 18px;
          font-size: 14px;
          color:#726277!important;
        }
        svg{
          color:#60ef57;
          font-weight: bold;
        }
      }
      .iframe{
        float: right;
        box-shadow: 0px 0px 4px #717171;
      }
    }
    .formpag{
      p{
        // font-weight: 600;
        font-size:15px;
        padding: 5px 0;
        text-align: center;
      }
      ul{
        display: table;
        margin: 0 auto;
        padding: 15px 0;
        li{
          float:left;
          margin: 0 10px;
          svg{
            font-size:24px;
          }
        }
      }
    }
  }
}
.improving{
  background-color:#bfbfbf;
  padding: 5px 0;
  font-family: Nunito-Light;
  p{
    text-align: center;
    color:#fff;
    font-size: 11px;
    span{
      color:#7b7b7b;
      font-weight: 800;
      font-size: 12px;
    }
  }
}


.cont,.comp{
  background-color:rgb(230, 230, 230);
  padding: 15px 10px;
  box-sizing: border-box;
  
  h3{
    font-size:30px;
    margin: 5px 0;
    font-family: Nunito-Black;
    color:#d05a35;
  }

  &>div.col-12{
    margin: 10px 0;
    padding: 5px 5px;
    border-bottom:1px solid #d6d6d6;
    box-sizing: border-box;
  }
  &>div.col-6{
    padding: 10px 5px;
    box-sizing: border-box;
  }
  form{
    display: block;
    width: 100%;
    &>div{
      display: table;
      width: 100%;

      &>input,select,option{
        display: table;
        float: left;
        width: 48%;
        margin: 5px 2%;
        padding: 8px 5px;
        box-sizing: border-box;
        border: 1px solid transparent;
        font-family: Nunito-black;
        color: #726277;
        background-color: #fff;
        
        &::placeholder{
          font-family: Nunito-Regular;
        }
      }

      select{
        padding: 5px;
        font-family: Nunito-Regular;
        background-color: #fff;
      }

      &>input:first-child{
        margin-left: 0;
      }

      &>input:last-child,select{
        margin-right: 0;
      }
    }

    textarea{
      width: 100%;
      box-sizing: border-box;
      border: 1px solid transparent;
      font-family: Nunito-black;
      color: #726277;
      padding: 8px 5px;
      clear: both;
      width: 470px;
      min-width: 100%;
      max-width: 100%;
      min-height: 96px;
      margin: 10px 0 0;
      background-color: #fff;

      &::placeholder{
        font-family: Nunito-Regular;
      }
    }

    &>button{
      float: right;
      color: #545454;
      padding: 5px 10px;
      font-size: 15px;
      font-weight: normal!important;
      margin-top: 15px;
    }
  }

  .tel,.loc{
    text-align: center;
    font-family: Nunito-black;
    padding: 10px 0;
    color:#726277!important;

    h4,svg{
      font-size:32px;
    }

    h5{
      font-size: 28px;
    }

    &>div{
      display: table;
      margin: 0 auto;
      padding: 0 5px;
      box-sizing: border-box;

      &>svg,h4{
        display: table;
        float: left;
      }

      h4{
        padding: 5px 0;
      }
      svg{
        padding: 0 5px;
        box-sizing: border-box;
        font-size: 45px;
      }
    }
  }
}

.comp{
  .ct{
    display: table;
    width: 100%;
    &>figure{
      float: left;
      width: 60%;
      padding: 15px 10px;
      box-sizing: border-box;
      img{
        width: 100%;
      }
    }

    &>div{
      float: left;
      width: 40%;
      padding: 15px 10px;
      box-sizing: border-box;

      h4{
        font-size:22px;
        text-transform: uppercase;
      }

      p{
        font-size:14px;
        padding: 10px 0;
        line-height: 20px;
      }
    }
  }

  .ms{
    display: table;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  .ms.full{
    &>div{
      border-bottom: 1px solid rgb(169, 169, 169);
      padding: 5px 0;
      margin: 15px 0;
      &>div{
        position: absolute;
        background-color: #e6e6e6;
        bottom: -22px;
        font-size: 22px;
        left: 0;
        display: table;
        h4,svg{
          display: table-cell;
          vertical-align: middle;
          font-size:22px;
        }  
  
        svg{
          font-size:41px;
          padding: 0 10px;
          box-sizing: border-box;
        }
      }
      
    }

    p{
      padding: 15px 0;
      line-height: 20px;
    }
  }
}

.fdl{
  background-color: #e6e6e6;
  padding: 15px 10px;
  box-sizing: border-box;
  margin: 30px 0;

  h3{
    font-size:30px;
    margin: 5px 0;
    font-family: Nunito-Black;
    color:#d05a35;
    text-align: center;
  }

  h4{
    font-family: Nunito-Black;
    color:#d05a35;
    font-size: 22px;
    text-align: left;
  }

  .sub-letter{
    display: table;
    width: 100%;
    margin: 25px 0;
  }
}

.tit{
  position: relative;
  h3{
    font-size: 40px;
    top:30px;
    position: absolute;
    display: table;
    background-color: #d05a35;
    color: #fff;
    left: -8px;
    padding: 5px 10px;
    text-transform: uppercase;
    &::before{
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 9px solid #ad4b2d;
      position: absolute;
      top: -9px;
      left: 0;
      content: " ";
    }
  }

  figure{
    img{
      width: 100%;
    }
  }
}
.flt.full{
  &>div{
    padding: 10px 0;
    h4{
      font-size: 25px;
      bottom: -19px;
      position: absolute;
      background-color: #fff;
      padding: 5px 10px;
      font-family: Nunito-Black;
      color: #d05a35;
    }
  }
  select{
    position: absolute;
    background-color: #fff!important;
    padding: 5px 10px;
    border: 1px solid #b9b9b9!important;
    bottom: -15px;
    border-radius: 7px;
    right: 0;
    font-size: 15px;
    color: #828282!important;
    font-family: Nunito-regular!important;

    option{
      outline-color: #b9b9b9;
    }
  }
}
.list{
  display: table;
  width: 100%;
  tr{
    width:100%!important;
    padding: 10px 0;

    td{
      width: 48%;
      // display: table;
      // float: left;
      vertical-align: top;
      .item{
        margin: 10px 0;
        .event{
          top: -5px!important;
        }
      }
    }

    &>td:first-child{
      padding-right: 1%;
    }

    &>td:last-child{
      padding-left: 1%;
    }
  }
}

.desc{
  &>div{
    display: table;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 0 5px;
    margin: 5px 0 10px;
    h3{
      font-size: 35px;
      color: #d05a35;
      box-sizing: border-box;
      font-family: Nunito-Black;
      display:inline-block;
      text-transform: uppercase!important;
    }
  }
}
.lightbox{
  top:5%!important;
  position: fixed;
  // .lb-image{
  //   max-width:650px;
  //   width: 100%;
  //   height:390px;
  // }
}
.prft{
  display: block;
  margin-bottom: 5px;
  padding: 0 5px;
  box-sizing: border-box;
  figure{
    border: 1px solid #d2d2d2;
    max-width:100%;
    box-sizing: border-box;
    img{
      max-width:650px;
      width: 100%;
      height:390px;
      cursor: pointer;
    }
  }
}

.secft{
  display: table;
  width: 100%;
  padding: 0 1%;
  box-sizing: border-box;
  li{
    float: left;
    max-width: 18.7%;
    width: 100%;
    margin: 0.79%;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    img{
      height: 60px;
      max-width: 120px;
      width: 100%;
      cursor: pointer;
    }
  }
  &>li:nth-child(5n+1){
    margin-left: 0!important;
  }

  &>li:nth-child(5n){
    margin-right: 0!important;
  }
}

.lg{
  background-color: #e6e6e6;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 11px rgb(144, 144, 144);
  .txt{
    display: table;
    width: 100%;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  pre{
    white-space: pre-wrap;
  }
  pre,p{
    margin:10px 0;
    line-height: 22px;
    font-family: Nunito-Regular;
    word-break: break-all;       /* Internet Explorer 5.5+ */
  }
  .inc{
    color:green;
    svg{
      font-size:18px;
    }
    h6{
      text-transform: uppercase;
      font-weight: bold;
      font-size:14px;
      padding: 0 3px;
      box-sizing: border-box;
    }
  }
}

.lg.dsc{
  margin: 35px 0 10px;
}
.dl{
  padding: 0 1%;
  margin-bottom: 30px;
  position: relative;
  padding: 14px 0;

  h4{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    font-family: Nunito-light;
    position: absolute;
    top: 0;
    right: -17px;
    padding: 5px 10px;
    width: 100%;
    background-color: #d05a35;
    text-align: center;
    text-transform: uppercase!important;
    &::after{
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 6px solid #ad4b2d;
      position: absolute;
      top: -8px;
      right: 0;
      content: " ";
    }
  }
}
.det{
  box-sizing: border-box;
  display: block;
  position: relative;

  .local{
    display: table;
    width: 100%;

    li{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .desc{
    p{
      font-size:14px!important;
      line-height:20px;
      display: table;
      margin: 0 auto;
      text-align:center;
    }
  }
  &>ul,&>div{
    margin: 5px 0;
    // padding: 0 10px;
    box-sizing: border-box;
  }

  li{
    display: table;
    margin: 10px 0;
  }

  &>li{
    margin-top:0;
  }
  h5,h6,i,p{
    display: table-cell;
    vertical-align: bottom;
    font-size: 18px;
  }

  h5{
    font-weight: bold;
    font-size:20px;
    padding-right: 5px;
  }

  &>ul:first-child{
    margin-top:0;
  }

  .valor{
    display: table;
    width: 100%;
    &>div{
      display: table;
      float: right;
    }
    h6{
      font-size:25px;
      line-height: 22px;
    }
  }
  button{
    // margin: 0 auto;
    display: table;
    padding: 5px 9px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 15px;
  }
}

.dl.dc{
  h4{
    width: auto;
    left: -17px;
    right:inherit!important;
    &::after{
      border-right: 6px solid #ad4b2d;
      border-left: none!important;
      top: -8px;
      left:0;
      content: " ";
    }
  }

  .txt{
    text-align: left;
    line-height: 25px;
    font-size:14px;
    text-justify: auto;
  }
}

.shadow{
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  background-color: rgba(0, 0, 0, 0.89);
  height: 100%;
  z-index:5;
  padding: 0 10px;
  box-sizing: border-box;
  display: none;
  overflow: scroll;
  form{
    display: table;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 1000px;
    width: 100%;
    z-index: 6;

    span{
      font-size: 30px;
      font-family: Nunito-Black;
      color: #d05a35;
      padding: 15px 0;
      display: table;
      text-align: left;
      margin: 0 auto
    }
    &>div{
      display: table;
      width: 100%;
      &>input{
        display: table;
        float: left;
        width: 48%;
        margin: 5px 2%;
        padding: 8px 5px;
        box-sizing: border-box;
        border: 1px solid transparent;
        font-family: Nunito-black;
        color: #726277;
        background-color: #fff;
        
        &::placeholder{
          font-family: Nunito-Regular;
        }
      }

      &>input:first-child{
        margin-left: 0;
      }

      &>input:last-child{
        margin-right: 0;
      }
    }
    textarea{
      width: 100%;
      box-sizing: border-box;
      border: 1px solid transparent;
      font-family: Nunito-black;
      color: #726277;
      padding: 8px 5px;
      clear: both;
      width: 470px;
      min-width: 100%;
      max-width: 1000px;
      min-height: 96px;
      margin: 10px 0 0;
      background-color: #fff;

      &::placeholder{
        font-family: Nunito-Regular;
      }
    }

    &>button{
      color: #545454;
      padding: 20px 40px;
      font-size: 15px;
      font-weight: normal!important;
      display: table;
      margin: 15px auto;
    }
  }
  svg{
    font-size: 35px;
    float: right;
    color: #d05a35;
    cursor: pointer;
  }
}

.red{
  background-color: red;
  text-transform: uppercase;
}
@media screen and (max-width:990px){
  .container{
    padding: 0 10px;
    box-sizing: border-box;
  }
  .menu-top h2{
    font-size:14px;
  }
  .slick-dotted.slick-slider{
    margin-bottom: 10px;
  }
  .full > div h3{
    padding-left: 0;
  }
  .cont form > div > input, .cont form > div select, .cont form > div option{
    width: 100%;
    float: none;
    margin: 10px 0;
  }

  .comp .ct > figure,.comp .ct > div{
    width: 100%;
    float: none;
  }

  .prft{
    figure{
      overflow: hidden;

      img{
        width: auto;
        // margin-left: -17%;
      }
    }
  }
}

@media screen and (max-width:870px){
  .top > h1 img{
    margin: initial;
    max-width: 165px;
  }
  .top nav{
    text-align: right;
  }
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
  }
  .menu-top{
    background-color: rgba(66, 66, 66, 0.9098039215686274);
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    overflow: scroll;
    line-height: 40px;
    padding-top: 150px;
    // display: none;
    animation: fadeout 0.8s;
    -moz-animation: fadeout 0.8s; /* Firefox */
    -webkit-animation: fadeout 0.8s; /* Safari and Chrome */
    -o-animation: fadeout 0.8s; /* Opera */
    left:110%;
    transition: all 0.5s;
    li{
      text-align: center;
      display: block;
      a{
        display: inline-block;
      }
      h2{
        font-size: 30px;
        color:#fff;
        display: table;
        margin: 0 auto;
        &:hover{
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3607843137254902);
          background-color: #c3c3c31c;
        }
      }
    }
  }
  .menumob{
    position: relative;
    display: table;
    width: 40px;
    height: 30px;
    margin: 0 auto;
    z-index: 3;
    span{
      margin: 0 auto;
      position: relative;
      top: 12px;
      width: 40px;
      height: 5px;
      background-color: #d05a35;
      display: block;
      -webkit-transition-duration: 0s; transition-duration: 0s;
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
      &::before{
        margin-top: -10px;
        border-radius: 4px 4px 0 0;
        -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
        -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
      }
      &::after{
        margin-top: 10px;
        border-radius: 0 0 4px 4px;
        -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
        -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
      }
      &::before, &::after{
        position: absolute;
        content: '';
        width: 40px;
        height: 5px;
        background-color: #d05a35;
        display: block;
      }
    }

    &.active{
      span{
        background-color: rgba(0,0,0,0.0);
        -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
        &::before{
          margin-top: 0;
          border-radius: 0 0 0 0;
          -webkit-transform: rotate(45deg); transform: rotate(45deg);
          -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
        }
        &::after{
          margin-top: 0;
          border-radius: 0 0 0 0;
          -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
          -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
        }
      }
    }
  }
  .open{
    display: block!important;
    animation: fadein 0.8s;
    left:0;
    -moz-animation: fadein 0.8s; /* Firefox */
    -webkit-animation: fadein 0.8s; /* Safari and Chrome */
    -o-animation: fadein 0.8s; /* Opera */
  }

  .scroll{
    position: fixed;
    top: 67px;
    right: 6.5%;
    width: auto;
  }
  
  .crl{
    margin: 5px 0;
  }
  .crl.vg .carvg .item{
    min-height: 388px;
  }
  .crl.vg .carvg .item > div .name h5,.flt.full > div h4{
    font-size: 20px;
  }
  .crl.vg .carvg .item > div .local li h6, .crl.vg .carvg .item > div .tempo li h6, .crl.vg .carvg .item > div .inc li h6{
    font-size:14px;
  }
  .crl.vg .carvg .item > div .local li::after, .crl.vg .carvg .item > div .tempo li::after, .crl.vg .carvg .item > div .inc li::after{
    padding: 0 2px;
    box-sizing: border-box;
  }
  .emp .empresa{
    margin: 20px 0;
  }
  .emp .empresa ul{
    margin: 0 auto;
  }
  .emp .empresa ul li{
    width: 100%;
    margin: 10px 0;
    float: none;
  }

  .crl.vg .carvg .item{
    margin: 10px 0;
  }
  
  .crl.vg .carvg .item > div .local li::after, .crl.vg .carvg .item > div .tempo li::after, .crl.vg .carvg .item > div .inc li::after{
    content:" ";
  }

  .tit h3{
    font-size:35px;
  }

  .listdet{
    &>div.col-8,section.lg{
      width:100%;
    }

    .lg{
      margin-top: 20px;
    }

    .det{
      li{
        display: table;
        float: left;
        margin: 5px 1%;
      }

      ul{
        width: 100%;
        display: table;
        &>li:first-child{
          margin-left: 0;
        }
        &>li:last-child{
          margin-right: 0;
        }
      }
    }

    .valor{
      margin: 20px 0;
    }
    .fpag{
      &>li{
        float: none;
        margin: 5px auto!important;
      }
    }
  }

  .prft{
    figure{
      img{
        max-width: 100%;
        height: auto;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .secft li img{
    max-width: 100%;
    height: 85px;
  }
}

@media screen and (max-width:730px){

  .list{
    padding: 25px 0 0!important;
  }

}
@media screen and (max-width:688px){
  .crl.vg .carvg .item{
    max-width: 100%;
    margin: 15px auto 7.5px;
    min-height: 420px;
  }
  .crl.vg .carvg .item figure img{
    max-width:100%;
    max-height: 100%;
  }
  .crl.vg .carvg .slick-slide{
    min-height: 410px;
    margin: 0 16px;
  }

  .crl.vg .slick-list{
    min-height: 530px;
  }
  .crl.vg .carvg .item > div .name h5 {
    padding: 8px 0;
  }

  footer .col-12{
    &>div{
      width:100%;
      display: table;

      figure{
        display: none;
      }

      address{
        margin: 0 auto;
        text-align: center;
      }

      .iframe{
        margin: 0 auto;
        display: table;
        float: none;
      }
    }
  }
  .emp .empresa ul li > div svg{
    font-size: 30px;
  }
  
  .emp .empresa ul li > div .fa-money-bill-alt{
    font-size: 30px;
    padding: 6px 7px;
  }

  .emp .empresa ul li > div .fa-star{
    font-size:30px;
    padding: 5px 6px;
  }

  .cont{
    &>div.col-6{
      width: 100%;

      button{
        float: none;
        margin: 15px auto 0;
        display: block;
      }
    }
  }
  .tit h3 {
    font-size: 35px;
    display: table;
    background-color: transparent;
    color: #d05a35;
    font-weight: bold;
    padding: 5px 10px 10px;
    margin: 0 auto;
    position: static;
    &:before{
      border:none;
    }
  }
  .comp{
    padding: 10px;
  
    .ct > figure, .comp .ct > div,.ms{
      padding: 5px;
    }
  }

  .desc > div h3{
    font-size:25px;
    margin: 0 auto;
    display: table;
    text-align: center;
  }

  .dl h4{
    padding: 8px 9px;
    font-size: 20px;
  }
  .det h5{
    font-size: 18px;
  }
  .det h6{
    font-size:16px;
  }
  .secft li img{
    height: 60px;
  }
}

@media screen and (max-width:580px){
  .list tr td{
    display: block;
    width: 100%;
    padding: 0!important;
  }

  .listdet .det li{
    margin: 5px auto!important;
    float: none;
  }
  .det .valor > div{
    float: none;
    margin: 0 auto;
  }

  .dl.dc h4{
    width: 100%;
  }

  .shadow form > div > input{
    width: 100%;
    margin: 5px 0!important;
  }

  .shadow form span{
    font-size:25px;
  }
}
@media screen and (max-width:480px){
  .top .inf{
    padding: 6px 8px 5px;
  }
  .top > h1 img{
    max-width: 130px;
  }

  .scroll{
    top: 50px;
    right: 8%;
  }
  
  .crl.vg .slick-list{
    min-height: 445px;
  }

  .crl h3,.parc h3,.emp .empresa h3,.cont h3,.comp h3{
    font-size:27px;
  }

  .crl.vg .carvg .slick-slide{
    margin: 0 6px;
  }
  .crl.vg .carvg .item > div .name h5,.cont .tel h5, .cont .loc h5,.comp .ct > div h4,.comp .ms.full > div > div h4, .comp .ms.full > div > div i{
    font-size:18px;
  }
  // .crl.vg .carvg .item > div .local li h5, .crl.vg .carvg .item > div .tempo li h5, .crl.vg .carvg .item > div .inc li h5,.emp .empresa ul li > div h4{
  //   font-size:13px;
  // }

  // .crl.vg .carvg .item > div .local li h6, .crl.vg .carvg .item > div .tempo li h6, .crl.vg .carvg .item > div .inc li h6,.emp .empresa ul li > div p,.top .inf i, .top .inf p,.comp .ct > div p,.comp .ms.full p{
  //   font-size:12px;
  // }

  .crl.vg .carvg .item > div .valor > div h6, .crl.vg .carvg .item > div .valor > div h5,.cont .tel h4, .cont .tel svg, .cont .loc h4, .cont .loc i{
    font-size:20px;
  }

  .crl.vg .carvg .item > div .local li, .crl.vg .carvg .item > div .tempo li, .crl.vg .carvg .item > div .inc li{
    margin: 5px 3px;
  }
  
  .crl.vg .carvg .item > div .fpag li svg, .crl.vg .carvg .item > div .fpag li p{
    font-size:12px;
  }

  .crl.vg .carvg .item{
    min-height: 415px;
  }
  .crl.vg .carvg .item .down{
    margin-top: 12%;
  }

  .crl.vg .carvg .item > div .local, .crl.vg .carvg .item > div .tempo, .crl.vg .carvg .item > div .inc,.crl.vg .carvg .item > div .name,.crl.vg .carvg .item > div .inf{
    padding: 0px 0;
    margin: 0 0;
  }

  .crl.vg .carvg{
    padding: 8px 0;
  }

  .crl.vg .carvg.list .item{
    margin: 20px 0;
  }
  .full > div{
    padding: 5px 0;
  }

  footer .col-12 > div address p{
    font-size: 12px;
  }

  footer .col-12 .formpag p{
    font-size: 13px;
  }

  footer .col-12 .formpag ul li svg{
    font-size:20px;
  }

  footer .col-12 > div .iframe{
    width: 300px!important;
  }

  .comp .ct > div p{
    padding: 5px 0;
  }

  .flt.full > div h4{
    display: none;
  }
  .flt.full select{
    width: 100%;
  }
  .list{
    padding: 15px 0 0!important;
  }
  .secft li img{
    height: 45px;
  }
}






