@font-face {
    font-family: Nunito-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Nunito-Regular.woff) format("woff"), url(../fonts/Nunito-Regular.eot) format("eot"), url(../fonts/Nunito-Regular.woff2) format("woff2"), url(../fonts/Nunito-Regular.ttf) format("truetype"), url(../fonts/Nunito-Regular.svg) format("svg");
}
  
  @font-face {
    font-family: Nunito-Black;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Nunito-Black.woff) format("woff"), url(../fonts/Nunito-Black.eot) format("eot"), url(../fonts/Nunito-Black.woff2) format("woff2"), url(../fonts/Nunito-Black.ttf) format("truetype"), url(../fonts/Nunito-Black.svg) format("svg"); }
  
  @font-face {
    font-family: Nunito-Light;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Nunito-Light.woff) format("woff"), url(../fonts/Nunito-Light.eot) format("eot"), url(../fonts/Nunito-Light.woff2) format("woff2"), url(../fonts/Nunito-Light.ttf) format("truetype"), url(../fonts/Nunito-Light.svg) format("svg"); }
  
  
  html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    font-family: Nunito-Regular;
    color: #ffffff;
    background-color:#253138;
    font-size: 13px;
  }
  
  article, aside, footer, header, nav, section, figcaption, figure, main {
    display: block;
  }
  
  figure {
    margin: 0;
    line-height: 0;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  b, strong {
    font-weight: inherit;
  }
  
  b, strong {
    font-weight: bolder;
  }
  
  code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  dfn {
    font-style: italic;
  }
  
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  small {
    font-size: 80%;
  }
  
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  audio, video {
    display: inline-block;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  img {
    border-style: none;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  button, input, optgroup, select, textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button, input{
    overflow: visible;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
  }
  
  select {
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  
  input:focus,button:focus,textarea:focus,select:focus,option:focus,a:focus{
    outline: none;
  }
  button, select {
    text-transform: none;
  }
  
  button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    display: inline-block;
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  [type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      height: auto;
    }
  }
  
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  
  details, menu {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  canvas {
    display: inline-block;
  }
  
  template {
    display: none;
  }
  
  input,
  label,
  select,
  button,
  textarea
  {
      margin:0;
      border:0;
      padding:0;
      display:inline-block;
      vertical-align:middle;
      white-space:normal;
      background:none;
      line-height:1;
      
      /* Browsers have different default form fonts */
      font-size:13px;
      font-family:Arial;
  }
  
  /* Remove the stupid outer glow in Webkit */
  input:focus,figure:focus, img:focus
  {
      outline:0;
  }
  
  /* Box Sizing Reset
  -----------------------------------------------*/
  
  /* All of our custom controls should be what we expect them to be */
  input,
  textarea
  {
      -webkit-box-sizing:content-box;
      -moz-box-sizing:content-box;
      box-sizing:content-box;
  }
  
  /* These elements are usually rendered a certain way by the browser */
  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select
  {
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
  }
  
  /* Text Inputs
  -----------------------------------------------*/
  
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week]
  {
  }
  
  /* Button Controls
  -----------------------------------------------*/
  
  input[type=checkbox],
  input[type=radio]
  {
      width:13px;
      height:13px;
  }
  
  /* File Uploads
  -----------------------------------------------*/
  
  input[type=file]
  {
  
  }
  
  /* Search Input
  -----------------------------------------------*/
  
  /* Make webkit render the search input like a normal text field */
  input[type=search]
  {
      -webkit-appearance:textfield;
      -webkit-box-sizing:content-box;
  }
  
  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  ::-webkit-search-decoration
  {
      display:none;
  }
  
  /* Buttons
  -----------------------------------------------*/
  
  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"]
  {
      /* Fix IE7 display bug */
      overflow:visible;
      width:auto;
  }
  
  /* IE8 and FF freak out if this rule is within another selector */
  ::-webkit-file-upload-button
  {	
      padding:0;
      border:0;
      background:none;
  }
  
  /* Textarea
  -----------------------------------------------*/
  
  textarea 
  {
      /* Move the label to the top */
      vertical-align:top;
      
      /* Turn off scroll bars in IE unless needed */
      overflow:auto;
  }
  
  /* Selects
  -----------------------------------------------*/
  
  select
  {
  
  }
  
  select[multiple] 
  {
      /* Move the label to the top */
      vertical-align:top;
  }
  
  p{
    margin: 0;
  }
  a {
    text-decoration: none;
    color: initial;
  }
  
  h1, h2, h3, h4, h5, h6, ul, figure {
    font-weight: 400;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: initial;
    cursor:default;
  }
  
  [hidden] {
    display: none;
  }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }

  .col{
      display: table;
  }
  main{
      padding: 0 20px;
      box-sizing: border-box;
  }
  header{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    display: table;
    padding: 0 20px;
    box-sizing: border-box;

    .col.tp{
        box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
        width: 100%;
        figure{
            padding: 5px;
            box-sizing: border-box;
            text-align: left;
            display: table-cell;
            vertical-align: middle;
            img{
                width:120px;
                height: auto;
            }
        }
        div{
            display: table-cell;
            vertical-align: middle;
            &>div{
                float: right;
                padding: 0 5px;
                box-sizing: border-box;
                i{
                    padding: 5px 10px;
                    box-sizing: border;
                    font-size:40px;
                }
            }
        }

        .op{
            display: none;
            position: absolute;
            background-color: #ffffff;
            padding: 5px 10px;
        }
    }
  }

  .menu{
    display: table;
    padding: 15px 0;
    width: 100%;
    // padding: 15px 20px;
    box-sizing: border-box;
    ul{
        line-height: 30px;
        li{
            display: block;
            a{
                font-size:22px;
                color:#ffffff;
                padding: 15px 0;
                display: table;
                &::after{
                    content:">";
                    font-weight: 600;
                    padding: 0 5px;
                    box-sizing: border-box;
                }
            }
        }
    }
  }

  footer{
      padding: 0 5px;
      box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
      font-size:12px;
      color:#d3d3d3; 
      text-align: center;
  }


  .tit{
      display: table;
      width: 100%;
      padding: 15px 0;

      p{
          font-size:30px;
          font-weight: bold;
      }
  }

  .list{
    // padding: 10px 5px;
    margin: 20px 0;
    width: 100%;
    display: table;
    // border: 1px solid white;
    // background-color:orange;
    tr{
      // border-top: 1px solid white;
      // border-right: 1px solid white;
      // border-left: 1px solid white;
      box-sizing: border-box;
      // border-bottom: none;
      width: 100%;
      td,th{
        // border-right:1px solid white;
        box-sizing: border-box;
        text-align: center;
        font-size:14px;
        border:1px solid white;
        border-collapse: collapse;
        // background-color:#253138;
        padding: 5px 2px;
      } 

      th{
        font-size:16px;
      }
    }
    .options{
      td{
        border: none;
        i{
          cursor: pointer;
          transition:all 0.5s;
        }
        .fa-pencil-square-o:hover{
          color:blue;
        }
        .fa-trash-o:hover{
          color:red;
        }

        .on{
          color:green!important;
        }

        .off{
          color:red!important;
        }
      }
    }

    tr:first-child{
      padding: 15px 0;
    }

    tr:last-child{
      border-bottom: 1px solid white;
    }
  }
  .add{
    a,button{
      padding: 5px 10px;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.23);
      border: 1px solid rgba(255, 255, 255, 0.23);
      cursor: pointer;
      font-size:18px;
      display: table;
      float: right;
      clear: both;
      margin: 15px 0;
      transition: all 0.5s;

      &:hover{
        color: #ffffff;
        border: 1px solid #ffffff;
        background-color:#d05a35;
      }
    }
  }

  .formlist{
    display: table;
    margin: 0 auto;
    form{
      display: table;
      background-color:white;
      border-radius: 5px;
      padding: 15px 20px;
      box-sizing: border-box;

      &>div{
        width: 100%;
        display: table;
        padding: 15px 0;
        label,input{
          // float: left;
          display: table-cell;
          vertical-align: middle;
        }

        label{
          font-weight: bold;
          color: #253138;
          font-size: 15px;
        }

        input{
          background-color:transparent;
          border: 1px solid white;
          padding: 5px 10px;
          text-align: left;
          font-size:14px;
          width: 100%;
          box-sizing: border-box;
          border-radius: 5px;
          border: 1px solid rgba(128, 128, 128, 0.2784313725490196);
        }
      }
      .check{
        label{
          display: table;
          width: 100%;
          padding: 5px 0 10px;
          text-align: center;
        }
        &>div{
          display: table;
          width: 100%;
          margin: 10px 0 5px;
          &>div{
            display: table-cell;
            vertical-align: middle;
          }
        }
        &>div.int{
          margin: 0 auto;
          display: table;
          width: auto;
        }
        input{
          border: none;
          background-color: inherit;
        }
        input[type="checkbox"]{
          -webkit-appearance: checkbox;
          float: left;
          width: auto;
        }

        p{
          float: left;
          font-size:13px;
          color: #253138;
          font-weight: bold;
          margin: 0 5px;
        }
      }

      .txt{
        label{
          display: table;
          width: 100%;
          padding: 5px 0 10px;
          text-align: center;
        }
        div{
          display: table;
          width: 100%;

          textarea{
            width: 100%;
            padding: 10px 5px;
            box-sizing: border-box;
            border-radius: 5px;
            min-width: 462px;
            min-height: 80px;
            border: 1px solid rgba(128, 128, 128, 0.2784313725490196);
          }
        }
      }

      button{
        margin: 0 auto;
        color: #253138;
        background-color: white;
        border: 1px solid #253138;
        float: none;
        padding: 10px 15px;

        &:hover{
          border: 1px solid #d05a35;
        }
      }
    }
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }



  
