<% include ../partial/headerADM %>
<% include ../partial/menuADM %>
<main>
    <div class="row">
        <div class="col col-12">
            <div class="tit">
                <p><%= title%></p>
            </div>
            <div class="add">
                <!-- <form action="/admin/anuncios/adicionar" method="get">
                    <button type="button" title="Adicionar">Adicionar</button>
                </form>    -->
                <a href="/admin/anuncios/adicionar" title="Adicionar" class="add">
                    Adicionar
                </a> 
            </div>
            <table class="list">
                <colgroup span="5" class="columns"></colgroup>
                <tr>
                    <th>
                        Nome do Anúncio
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Data de Criação
                    </th>
                    <th>
                        Data de modificação
                    </th>
                    <th>
                        Opções
                    </th>
                </tr>
                <%for (var i=0; i < produto.length; i++) {%>
                    <tr>
                        <td>
                            <%= produto[i].nome_prod%>
                        </td>
                        <td>
                            <%if(produto[i].ativo_prod == true){%>
                             Ativo
                            <% } else{ %>
                             Desativado
                            <% } %>
                        </td>
                        <td>
                            <%= produto[i].datacriacao_prod%>
                        </td>
                        <td>
                            Data de modificação
                        </td>                      
                        <td>
                            <table style="width:100%" class="options">
                                <tr>
                                    <td>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" title="Editar"></i>
                                    </td>
                                    <td>
                                        <%if(produto[i].ativo_prod == true){%>
                                          <i class="fa fa-power-off on" aria-hidden="true" title="Ativar/Desativar"></i>
                                        <%} else{%>
                                          <i class="fa fa-power-off off" aria-hidden="true" title="Ativar/Desativar"></i>
                                        <% } %>
                                    </td>
                                    <td>
                                        <i class="fa fa-trash-o" aria-hidden="true" title="Excluir"></i>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                <% } %>
                </tbody>             
            </table>
        </div>
    </div>  
</main>
<% include ../partial/footerADM %>