<% include ../partial/headerADM %>
<% include ../partial/menuADM %>
<main>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="tit">
                    <p><%= title%></p>
                </div>
                <div class="choose">
                    <ul>
                        <li onclick="getThis('promo_prod', 0)">
                            <div>
                                <p>
                                    Promoções
                                </p>
                            </div>
                        </li>
                        <li onclick="getThis('nacional_prod',0)">
                            <div>
                                <p>
                                    Nacional
                                </p>
                            </div>
                        </li>
                        <li onclick="getThis('nacional_prod', 1)">
                            <div>
                                <p>
                                    Internacional
                                </p>
                            </div>
                        </li>
                        <li onclick="getThis('id_cat', 5)">
                            <div>
                                <p>
                                    Cruzeiros
                                </p>
                            </div>
                        </li>
                        <li onclick="getThis('id_cat', 2)">
                            <div>
                                <p>
                                    Excursões
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="msgs">
                    <ul class="type">                       
                    </ul>
                    <div class="img">
                        <div class="type1 banner">
                            <p>Foto Principal</p>
                            <ul id="home">

                            </ul>
                        </div>
                        <div class="type2 banner">
                            <p>Fotos Detalhadas</p>
                            <ul id="detalhes"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</main>
<script>
    function getThis(field, type){
        $('.img').hide();
        $.ajax({
            method: "POST",
            url: "/admin/galeria/get",
            data: { 
                field : field,
                type : type,
            },
            dataType: 'json',
            cache: false,
        })
        .done(function(data) {
            $(".msgs").find('.alertget').remove();
            $(".type").find('.prod').remove();
            if(data.msg){
                 $(".msgs").append("<div class='alertget'>"+ data.msg +"</div>");
            }
            else if(data.ids){
                $.each(data.ids,function(idx, key){
                    $(".type").append("<li class='prod' onclick='getProd("+ data.ids[idx] +")'><p>Anuncio - ID: " + data.ids[idx] +"</p></li>");
                });
            }
            
        });   
    }
    function getProd(id){
        $('.img').hide();
        $.ajax({
            method: "POST",
            url: "/admin/galeria/post",
            data: { 
                idProd : id
            },
            dataType: 'json',
            cache: false,
        })
        .done(function(data) {
            $(".msgs").find('.alertget').remove();
            if( data.msg){
                $(".msgs").append("<div class='alertget  red'>"+ data.msg +"</div>");
            }
            else{
                $('.img').hide();
                function appHome(dado){
                    $('.type1').css({ "display" : "none" });
                    $('#home').find('.item').remove();
                    $('.img').show();
                    if(dado.id != undefined){
                        var cl = '';
                        (dado.ativo == true ? (cl = "on") : (cl) );
                        $('.type1').css({"display":"block"});
                        $('#home').append("<li class='item'><figure><img src='../images/uploads/prods/"+dado.nome+"' alt='Friendstour - Banner' /></figure><div class='op'><i class='fa fa-trash-o' aria-hidden='true' onclick='remove("+dado.id+",1)' title='Remover'></i></div><div class='dt'>"+ dado.data +"</div><div class='at'><i class='fa fa-power-off "+ cl +"' title='Desativar' onclick='turnThis("+dado.id+","+dado.ativo+",1)' aria-hidden='true'></i></div></li>");
                    }
                    return true;
                }
                
                function appDet(dado){
                    $('.type2').css({ "display" : "none" });
                    $('#detalhes').find('.item').remove();
                    $('.img').show();
                    if(dado != undefined){
                        $('.type2').css({"display":"block"});
                        if(dado.nome.length <= 1){
                            var cl = '';
                            (dado.ativo == true ? (cl = "on") : (cl) );
                            $('#detalhes').append("<li class='item'><figure><img src='../images/uploads/prods/"+dado.nome+"' alt='Friendstour - Banner' /></figure><div class='op'><i class='fa fa-trash-o' aria-hidden='true' onclick='remove("+dado.id+",0)' title='Remover'></i></div><div class='dt'>"+ dado.data +"</div><div class='at'><i class='fa fa-power-off "+ cl +"' title='Desativar' onclick='turnThis("+dado.id+","+dado.ativo+",0)' aria-hidden='true'></i></div></li>");
                        }else{
                            $.each(dado.nome,function(idx, key){
                                var cl = '';
                                (dado.ativo[idx] == true ? (cl = "on") : (cl) );
                                $('#detalhes').append("<li class='item'><figure><img src='../images/uploads/prods/"+dado.nome[idx]+"' alt='Friendstour - Banner' /></figure><div class='op'><i class='fa fa-trash-o' aria-hidden='true' onclick='remove("+dado.id[idx]+",0)' title='Remover'></i></div><div class='dt'>"+ dado.data[idx] +"</div><div class='at'><i class='fa fa-power-off "+ cl +"' title='Desativar' onclick='turnThis("+dado.id[idx]+","+dado.ativo[idx]+",0)' aria-hidden='true'></i></div></li>");
                            });
                        }
                    }
                    return true;
                }

                function undefinedItem(value,tp,id){
                    $("."+ tp +"").css({ "display" : "none" });
                    $("#"+ id +"").find('.item').remove();
                    $("#"+ id +"").find('.alertget').remove();
                    $('.img').show();
                    var msg;
                    if(id == 'home'){
                        msg = "Produto sem imagem Principal";
                        $("."+ tp +"").css({"display":"block"});
                        $("#"+ id +"").append("<div class='alertget'>"+ msg +"</div>");
                    }
                    if(id == 'detalhes'){
                        msg = "Produto sem imagens Detalhadas";
                        $("."+ tp +"").css({"display":"block"});
                        $("#"+ id +"").append("<div class='alertget'>"+ msg +"</div>");
                    }
                    return true;
                }
                var home = data.home;
                var det = data.det;

                if( home == undefined){
                    undefinedItem(home,'type1','home');                   
                }else{
                    appHome(home);
                }

                if( det == undefined){
                    undefinedItem(det,'type2','detalhes');
                }else{
                    appDet(det);
                }                   
                
            }     
        });
    }

    function remove(t1,t2){
        console.log(t1,t2);
        if (window.confirm("Deseja remover esta Imagem?")) { 
            $.ajax({
                method: "POST",
                url: "/admin/galeria/remover",
                data: { 
                    camp1 : t1,
                    camp2 : t2
                },
                dataType: 'json',
                cache: false,
            })
            .done(function(data) {
                alert(data.msg);
                location.reload();
            });   
        }  
    }
    function turnThis(id, status){
        if( status == true ){
            if (window.confirm("Deseja desativar este banner?")) {
                $.ajax({
                    method: "POST",
                    url: "/admin/banners/desativar",
                    data: { 
                        id : id,
                        turn : status
                    },
                    dataType: 'json',
                    cache: false, 
                })
                .done(function(data) {
                    alert(data.msg);
                    location.reload();
                });  
            }
        }else{
            if (window.confirm("Deseja ativar este banner?")) {
                $.ajax({
                    method: "POST",
                    url: "/admin/banners/desativar",
                    data: { 
                        id : id,
                        turn : status
                    },
                    dataType: 'json',
                    cache: false, 
                })
                .done(function(data) {
                    alert(data.msg);
                    location.reload();
                });  
            }
        }       
    } 
</script>
<% include ../partial/footerADM %>