<% include ../partial/headerADM %>
<header>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="formLog">
                    <!-- show any messages that come back with authentication -->
                    <% if (erros){ 
                        for( var i = 0; i < erros.length; i++) { %>
                            <div class="alert alert-danger"><%= erros[i].msg%></div>
                        <% }
                        } %>
                    <!-- LOGIN FORM -->
                    <figure>
                        <img src="/images/logoID.png" alt="Friend's Tour" />
                    </figure>
                    <div class="msgs"></div>
                    <form action="/admin/login" method="post" class="formlist" id="formLog">
                        <div>
                            <label>Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div>
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" title="Login">Iniciar sessão</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $("#formLog").submit(function(event){
        event.preventDefault();
        var post_url = $(this).attr("action"); 
        var request_method = $(this).attr("method"); 
        var form_data = $(this).serialize(); 
        
        $.ajax({
            url : post_url,
            type: request_method,
            data : form_data,
            dataType: 'json',
            cache: false,
        }).done(function(data){ 
            console.log('DATA:',data);
            if( data != undefined && data != null){
                console.log("OK:", data)
                sessionStorage.setItem("xTokenx", data);
                window.location.href = "http://localhost:8080/admin/dashboard";
            }else{
                var msg = "Credenciais Incorretas";
                $(".msgs").find('.alert').remove();
                $(".msgs").append("<div class='alert' style='background-color: #f36e6e;border-color: #f36e6e;color: #fff;'>"+ msg +"</div>");
            }
        });
    });
</script>
<% include ../partial/footerADM %>