<% include ../partial/headerADM %>
<% include ../partial/menuADM %>
    <main>
      <div class="row">
        <div class="col-12">
          <div class="context">
            
          </div>
        </div>
    </main>
<% include ../partial/footerADM %>