<% include partial/header %>
<% include partial/menu %>
<main>
  <div class="container">
    <div class="row">
      <section class="cont col-12">
        <div class="col-12">
            <h3>ENTRE EM CONTATO</h3>
        </div>
        <div class="col-6">
          <form action="/contato/formulario_enviado" name="formcont" method="post" id="formCont">
            <div>
                <input type="text" placeholder="Nome" name="nome"  required/>
                <input type="text" placeholder="Telefone" name="telefone" class="phone_with_ddd" required/>
            </div>
            <div>
                <input type="email" placeholder="E-mail" name ="email" required/>
                <select type="text" name="redesocial">
                    <option name="" disabled selected>Como conheceu a Friend's Tour?</option>
                    <option name="facebook">Facebook</option>
                    <option name="google" >Google</option>
                    <option name="amigos" >Amigos</option>
                    <option name="cliente">Já sou cliente</option>
                    <option name="outros" >Outros</option>
                </select>
            </div>
            <textarea placeholder="Sua mensagem:" name="mensagem" required></textarea>
            <button type="submit" value="enviar" onclick="" class="btn">Enviar</button>
          </form>
        </div>
        <div class="col-6">
          <div class="tel">
            <div>
              <i class="fab fa-whatsapp"></i>
              <h4>
                13 97406-1452
              </h4>
            </div>
            <div>
              <i class="fas fa-phone-volume"></i>
              <h4>
                13 3321-7321
              </h4>
            </div>
          </div>
          <div class="loc">
            <h4>Santos - SP</h4>
            <h5>11015-151</h5>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
  <script>
    $(function() {
        $(".phone_with_ddd").mask("(00) 00000-0000");
    });
    $("#formCont").submit(function(event){
        event.preventDefault();
        var post_url = $(this).attr("action"); 
        var request_method = $(this).attr("method"); 
        var form_data = $(this).serialize(); 
        console.log(form_data);
        $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
        }).done(function(data){ 
            if( data.confirm != true ){
              alert(data.msg);
            }else{
              alert(data.msg);
              location.reload();
            }
        });
    });
  </script>
</main>
<% include partial/footer %>

