<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <meta content="" name="description">
    <meta name="author" content="Improving">
    <meta name="keywords" content="">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="language" content="Portuguese">
    <meta name="country" content="Brazil">
    <meta name="copyright" content="Friendstour -  © 2018">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src='/javascripts/script.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
