<% include partial/header %>
<% include partial/menu %>
<main>
  <div class="container">
    <div class="row">
      <section class="comp col-12">
        <div class="col-12">
            <h3>A EMPRESA</h3>
        </div>
        <div class="ct">
          <figure>
            <img src="/images/emp3.png" alt="Friend's Tour - Empresa" />
          </figure>
          <div>
            <h4>
              Sobre a Friend's Tour
            </h4>
            <p>
                Um Novo Conceito em Turismo, onde o mais importante será proporcionar a todos o prazer de viajar e mais Barato.<br>
                A Friends Tour nasce com intuito de fazer e trazer a todos, sem exceções, o sonho de poder viajar.<br>
                Traga seu grupo, consulte nossos preços, pois aqui, tenho certeza, você terá sempre o melhor preço.<br>
                Venha você também fazer parte desse <strong>NOVO CICLO DE AMIZADES</strong>.
            </p>
          </div>
        </div>
        <div class="ms full">
          <div>
            <div>
                <h4>
                  MISSÃO
                </h4>
                <i class="fas fa-handshake"></i>
            </div>
          </div>
          <p>
              Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.
          </p>
        </div>
        <div class="ms full">
          <div>
            <div>
                <h4>
                  VALORES
                </h4>
                <i class="fas fa-star"></i>
            </div>
          </div>
          <p>
              Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.
          </p>
        </div>
        <div class="ms full">
          <div>
            <div>
                <h4>
                  VISÃO
                </h4>
                <i class="fas fa-users"></i>
            </div>
          </div>
          <p>
              Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.
          </p>
        </div>
      </section>
    </div>
  </div>
</main>
<% include partial/footer %>