<% include partial/header %>
<% include partial/menu %>
<main>
  <div class="container">
    <div class="row">
      <section class="comp col-12">
        <div class="col-12">
            <h3>A EMPRESA</h3>
        </div>
        <div class="ct">
          <figure>
            <img src="/images/emp3.png" alt="Friend's Tour - Empresa" />
          </figure>
          <div>
            <h4>
              Sobre a Friend's Tour
            </h4>
            <p>
                Um Novo Conceito em Turismo, onde o mais importante será proporcionar a todos o prazer de viajar e mais Barato.<br>
                A Friends Tour nasce com intuito de fazer e trazer a todos, sem exceções, o sonho de poder viajar.<br>
                Traga seu grupo, consulte nossos preços, pois aqui, tenho certeza, você terá sempre o melhor preço.<br>
                Venha você também fazer parte desse <strong>NOVO CICLO DE AMIZADES</strong>.
            </p>
          </div>
        </div>
        <div class="ms full">
          <div>
            <div>
                <h4>
                  MISSÃO
                </h4>
                <i class="fas fa-handshake"></i>
            </div>
          </div>
          <p>
              Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.
          </p>
        </div>
        <div class="ms full">
          <div>
            <div>
                <h4>
                  VALORES
                </h4>
                <i class="fas fa-star"></i>
            </div>
          </div>
          <p>
              Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.
          </p>
        </div>
        <div class="ms full">
          <div>
            <div>
                <h4>
                  VISÃO
                </h4>
                <i class="fas fa-users"></i>
            </div>
          </div>
          <p>
              Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.
          </p>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="fdl col-12">
        <div class="letter">
          <h3>
            PROGRAMA FIDELIDADE 
          </h3>
        </div>
        <div class="sub-letter">
          <p>
            O nosso Programa Fidelidade tem como finalidade contemplar o nosso <strong>CLIENTE FIEL <i class="fas fa-check-circle"></i></strong>.
          </p>
          <p>
            E através disso, estamos criando o <strong class="pub">SEJA UM AMIGO FRIENDS</strong>, onde a cada <strong>3 VIAGENS</strong>, <span>com exceção de excursões</span>, você ganhará uma <span class="test">passagem de <strong>EXCURSÃO BATE E VOLTA</strong></span>.
          </p>
          <p>
            Venha fazer parte dessa Família, onde o mais importante é você.
          </p>
          <p>
            Venha você também <span class="pub">SER UM AMIGO FRIENDS</span>.
          </p>
        </div>
      </section>
    </div>
  </div>
</main>
<% include partial/footer %>