<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <meta content="" name="description">
    <meta name="author" content="Improving">
    <meta name="keywords" content="">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="language" content="Portuguese">
    <meta name="country" content="Brazil">
    <meta name="copyright" content="Friendstour -  © 2018">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Friendstour">
    <meta name="application-name" content="Friendstour">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="/javascripts/jquery.js"></script>
    <script src='/javascripts/script.js'></script>
  </head>
  <body>
    <header class="hdI">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="top">
              <div class="inf">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>
                  (13) 97406-1452
                </p>
              </div>
              <h1>
                <a href="" title="Friend's Tour">
                   <img src="/images/logoID.png" alt="Friend's Tour"/>
                </a>
              </h1>
              <nav>
                <ul class="menu-top">
                  <li>
                    <a href="" title="Nacional">
                      <h2>
                        NACIONAL
                      </h2>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Internacional">
                      <h2>
                        INTERNACIONAL
                      </h2>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Cruzeiros">
                      <h2>
                        CRUZEIROS
                      </h2>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Excursões">
                      <h2>
                        EXCURSÕES
                      </h2>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Empresa">
                      <h2>
                        EMPRESA
                      </h2>
                    </a>
                  </li>
                  <li>
                    <a href="" title="Contato">
                      <h2>
                        CONTATO
                      </h2>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <section class="crl">
            <ul class="home">
              <li>
                <div class="item">
                  <figure>
                    <img src="/images/car1.jpg" alt="Friend's Tour" />
                  </figure>
                </div>
              </li>
              <!-- <li>
                <div>
                  <figure>
                    <img src="/images/car2.jpg" alt="Friend's Tour" />
                  </figure>
                </div>
              </li>
              <li>
                <div>
                  <figure>
                    <img src="/images/car3.jpg" alt="Friend's Tour" />
                  </figure>
                </div>
              </li> -->
            </ul>
          </section>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
