<!DOCTYPE html PUBLIC //W3C//DTD XHTML 1.0 Transitional//EN'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
    <head>
        <title>Friend's Tour</title>
        <meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
    </head>
    <body>
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="750" style="display:table;margin:0 auto;background-color:#253138;border-radius:7px;color:#ffffff;font-family:Arial, Helvetica, sans-serif">
                <tbody>
                   <tr>
                       <td colspan="3" height="50px"></td>
                   </tr>
                   <tr>
                       <td colspan="3">
                           <p style="font-size:25px;color:#f58731;font-weight:bold;text-align:center;margin:0">Friend's Tour - Pedido de Reserva</p>
                       </td>
                   </tr>
                   <tr>
                        <td colspan="3" height="30px"></td>
                    </tr>
                   <tr>
                       <td colspan="3">
                           <p style="font-size:18px;color:#f58731;font-weight:bold;text-align:center;margin:0">
                               Campos dos Jordão
                           </p>
                       </td>
                   </tr>
                   <tr>
                       <td width="100px">
                           
                       </td>
                       <td width="550">
                            <table  border="0" cellpadding="0" cellspacing="0" width="100%" style="display:table">
                                <tbody>
                                    <tr>
                                        <td height="10px" colspan="2">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size:15px;color:#ffffff;font-weight:bold;margin:0;text-align:right">
                                                Nome:
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align:center;font-size:14px;color:#ffffff;margin:0;text-align:left;padding: 0 10px;box-sizing: border-box;">
                                                Caio Doohan
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="20px"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size:15px;color:#ffffff;font-weight:bold;margin:0;text-align:right">
                                                Telefone:
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align:center;font-size:14px;color:#ffffff;margin:0;text-align:left;padding: 0 10px;box-sizing: border-box;">
                                                (13) 99711-5663
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="20px"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size:15px;color:#ffffff;font-weight:bold;margin:0;text-align:right">
                                                Email:
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align:center;font-size:14px;color:#ffffff;margin:0;text-align:left;padding: 0 10px;box-sizing: border-box;">
                                                pereiradoohan@gmail.com
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="20px"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size:15px;color:#ffffff;font-weight:bold;margin:0;text-align:right">
                                                Data de Nascimento:
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align:center;font-size:14px;color:#ffffff;margin:0;text-align:left;padding: 0 10px;box-sizing: border-box;">
                                                22/04/1997
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="20px"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size:15px;color:#ffffff;font-weight:bold;margin:0;text-align:right">
                                                RG:
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align:center;font-size:14px;color:#ffffff;margin:0;text-align:left;padding: 0 10px;box-sizing: border-box;">
                                                52.379.233-5
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="20px"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-size:15px;color:#ffffff;font-weight:bold;margin:0;text-align:right">
                                                CPF:
                                            </p>
                                        </td>
                                        <td>
                                            <p style="text-align:center;font-size:14px;color:#ffffff;margin:0;text-align:left;padding: 0 10px;box-sizing: border-box;">
                                                480.055.208-75
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="20px"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="display:table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p style="font-size:15px;color:#ffffff;font-weight:bold;margin:0;text-align:center">
                                                                Mensagem
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15px"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p style="text-align:center;font-size:14px;color:#ffffff;margin:0">
                                                                    TEST TESTSET SET SET SE TSET SE TSET SET SE SET SETSETSET SETSETSETSETSETSETSETSETSETSETSETSETSETEST TESTSET SET SET SE TSET SE TSET SET SE SET SETSETSET SETSETSETSETSETSETSETSETSETSETSETSETSETEST TESTSET SET SET SE TSET SE TSET SET SE SET SETSETSET SETSETSETSETSETSETSETSETSETSETSETSETSE
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="50px"></td>
                                    </tr>
                                </tbody>
                            </table>
                       </td>
                       <td width="100px">

                       </td>
                   </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>