    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12">
              <div>
                  <figure>
                    <a href="/" title="Friend's Tour">
                      <img src="/images/logo.png" alt="Friend's Tour" />
                    </a>
                  </figure>
                  <address>
                    <p>Home Office</p>
                    <p>CEP:11015-151</p>
                    <p>Santos - SP</p>
                    <p><i class="fab fa-whatsapp"></i></i>(13) 97406-1452</p>
                  </address>
              </div>
              <div class="formpag">
                  <p>Formas de pagamento</p>
                  <ul>
                    <li>
                      <i class="fab fa-cc-visa" title="Visa"></i>
                    </li>
                    <li>
                      <i class="fab fa-cc-mastercard" title="Master Card"></i>
                    </li>
                    <li>
                      <i class="fab fa-cc-diners-club" title="Diners Club"></i>
                    </li>
                    <li>
                      <i class="fas fa-barcode" title="Boleto Bancário"></i>
                    </li>
                  </ul>
              </div>
              <div>
                  <iframe class="iframe" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffriendstour16%2F&tabs&width=320&height=154&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="320" height="154" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              </div>
          </div>
        </div>
      </div>
      <div class="improving">
        <div class="container">
          <div class="row">
            <div>
              <p>
                  © 2018 por <span title="Improving">Search ID</span> 
              </p>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
      <script src='/javascripts/script.js'></script>
    </footer>
  </body>
</html>