<header>
    <div class="container">
            <div class="row">
                <figure class="col-4">
                    <img src="/images/logoID.png" alt="Friend's Tour" />
                </figure>
                <div class="col-8">
                    <div class="fp">
                        <ul class="listMenu">
                            <li>
                                <a href="/admin/anuncios" title="Anúncios">
                                    Anúncios
                                </a>
                            </li>
                            <li>
                                <a href="/admin/galeria" title="Galeria de imagens">
                                    Galeria de imagens
                                </a>
                            </li>
                            <li>
                                <a href="/admin/banners" title="Banners">
                                    Banners
                                </a>
                            </li>
                            <li>
                                <a href="/admin/account" title="Usuários">
                                    Usuários
                                </a>
                            </li>
                            <li>
                                <a href="" title="Logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div>
    </div>    
</header>