<header class="hdI">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="top">
            <div class="inf">
                <i class="fas fa-phone-volume"></i>
                <p>
                (13) 97406-1452
                </p>
            </div>
            <h1>
                <a href="/" title="Friend's Tour">
                    <img src="/images/logoID.png" alt="Friend's Tour"/>
                </a>
            </h1>
            <nav>
                <div class="menumob">
                    <span></span>
                </div>
                <ul class="menu-top">
                <li>
                    <a href="/lista/nacional" title="Nacional">
                    <h2>
                        NACIONAL
                    </h2>
                    </a>
                </li>
                <li>
                    <a href="/lista/internacional" title="Internacional">
                    <h2>
                        INTERNACIONAL
                    </h2>
                    </a>
                </li>
                <li>
                    <a href="/lista/cruzeiros" title="Cruzeiros">
                    <h2>
                        CRUZEIROS
                    </h2>
                    </a>
                </li>
                <li>
                    <a href="/lista/excursoes" title="Excursões">
                    <h2>
                        EXCURSÕES
                    </h2>
                    </a>
                </li>
                <li>
                    <a href="/empresa" title="Empresa">
                    <h2>
                        EMPRESA
                    </h2>
                    </a>
                </li>
                <li>
                    <a href="/contato" title="Contato">
                    <h2>
                        CONTATO
                    </h2>
                    </a>
                </li>
                </ul>
            </nav>
            </div>
        </div>
        </div>
    </div>
</header>